body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.top-banner {
    background-image: url(image/top-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.header-div-width {

    padding-top: 155px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 120px;
    color: white;
    text-align: center;

}

h1 {

    font-size: 60px;
    margin: 0%;
}

#header-p {
    padding-bottom: 35px;
}

.link-button {
    color: white;
    background-color: #FF5959;
    text-decoration: none;
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px;
}

#second-div-style {
    color: black;
}

h2 {
    font-size: 40px;
    display: inline-block;
}


.second-section {
    padding-top: 120px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 120px;
    color: white;
    text-align: center;
}

#dv-btn {
    display: flex;
    margin-bottom: 30px;
}

.same-sn {
    margin-right: 15px;
    padding: 40px 32px;
    background-color: #FAFAFA;
    border: none;
    font-weight: 700;
    font-size: 30px;
    color: #707070;

}

#diff-sn {
    margin-right: 15px;
    padding: 40px 32px;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;

}

.dv-input {
    border: none;
    outline: none;

}

.third-section {

    padding-top: 120px;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    text-align: center;
}

.fourth-section {
    margin-left: 15%;
    display: flex;
    padding-right: 40px;
    margin-bottom: 120px;
    color: white;


}

.fourthSec-first-Div {
    width: 25%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: #EEF6F7;
    color: gray;
    border-radius: 5px;
}

.fourthSec-second-Div {
    width: 25%;
    margin-left: 15px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFEEEE;
    color: black;
    border-radius: 5px;
}

.fourthSec-Third-Div {
    width: 25%;
    margin-left: 15px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF4D6;
    color: black;
    border-radius: 5px;
}

.thirdSecP {
    text-align: left;
    color: gray;
}

.fourthSec-img {
    padding-right: 200px;
}


.Donto {
    text-align: left;
    color: black;
    font-size: 20px;
}

.fifth-section {
    margin-left: 15%;
    margin-bottom: 120px;
    display: flex;
}

.fifthSec-first-Div {
    width: 40%;
    margin-right: 40px;
}

.fifthSecP {
    color: gray;
    margin-bottom: 30px;
}

.fifthSec-second-Div {
    margin-top: 30px;
    border-radius: 5px;
    width: 40%;
    margin-right: 30px;
}

.fifthSecImg {
    width: 100%;
}

.six-section {
    margin-left: 15%;
    margin-bottom: 40px;
    display: flex;
}

.sixsec-first-Div {
    margin-top: 50px;
    border-radius: 5px;
    width: 40%;
    margin-right: 40px;
}

.sixsecimg {
    width: 100%;
}

.SixSec-second-Div {
    width: 40%;
    margin-right: 30px;
}

.SixSecP {
    color: gray;
    margin-bottom: 30px;
}

.Seven-Sec {
    margin-top: 20px;
    margin-left: 20%;
    color: white;
    text-align: center;
}

#SevenSecp {
    color: gray;
    margin-bottom: 30px;

}

.SevenSech2 {
    color: black;
}

.eightSec-first-Div {
    margin-right: 20%;
}

input {
    margin-top: 40px;
    margin-left: 200px;
    margin-bottom: 40px;
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

input [type="text"] {
    background-color: #707070;
    width: 340px;
}

.eightSecBtn {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #FF5959;
    border-radius: 5px;
    border: none;
    padding: 15px;
    width: 100px;
}




.eightSec-Second-Div {

    margin-right: 20%;
    margin-bottom: 80px;
    background-color: #FFF4D6;
    display: flex;
}

.footer {
    background-color: black;
    margin: 0;
}

#footerh2 {
    padding-top: 40px;
    padding-left: 44%;
    padding-right: 40%;

    color: red;
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
}

#footerh5 {
    color: white;
    padding-left: 44%;
    padding-right: 40%;
    padding-bottom: 40px;
    font-weight: 50;
    text-align: center;
    margin-bottom: 0;
}